<div id="comments-list">
    {{#commentDtos}}
        <div class="card m-2" id="comments-{{id}}">
            <div class="card-header">
                {{nickname}}
                <!-- button trigger modal -->
                <!-- Button trigger modal -->
                <button type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal">수정</button>
            </div>

            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>